/* Timeline.css */
.timeline-container {
  width: 100%;
  height: 67.9vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;
  overflow: hidden;
  background-color: white;
  position: relative;
}

.timeline {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  width: 80%;
}

.zoomed {
  transform: scale(2);
}
