/* TimelinePage.css */
.timeline-page {
  display: flex;
  min-height: 100vh; /* Change max-height to min-height */
  flex-direction: column;
  background-color: white;
}

.timeline-header {
  padding: 1.3rem;
  text-align: center;
  color: white;
  background-color: #043000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.timeline-footer {
  font-size: 20px;
  height: 5%;
  display: flex;
  justify-content: center;
  gap: 2rem;
  color: rgba(0, 0, 0, 0.359);
  background-color: #ffffff;
  margin-top: auto; /* This will push the footer to the bottom */
  padding-bottom: 30px;
}

.timeline-footer p {
  margin: 0;
  animation: float 3s ease-in-out infinite;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.timeline-footer p:nth-child(2) {
  animation-delay: 1.5s;
}

.arrow-icons {
  display: flex;
  gap: 0.3rem;
  margin-top: 0.2rem;
  margin-left: 5px;
}

/* Style the icons */
.timeline-footer i {
  font-size: 1.2rem;
}

.person-icon {
  margin-left: 5px;
}


@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-3px);
  }
  100% {
    transform: translateY(0px);
  }
}